/* src/Homepage/Footer.css */
.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    margin-top: 20px; /* Space above the footer */
  }
  
  .footer a {
    color: #ffcc00;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

  /* src/Homepage/Footer.css */
@media (max-width: 600px) {
  .footer {
    padding: 15px;
  }

  .footer p {
    font-size: 14px;
  }
}