.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 90%;
  max-width: 800px;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(135deg, #FC9CE3, #FFD5C2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.4s ease-in-out;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 28px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: transparent;
  gap: 10px;
  flex-wrap: wrap;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 999px;
  font-weight: bold;
  padding: 10px 18px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
  position: relative;
}

.icon-button::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  border: 2px solid transparent;
  background-image: linear-gradient(45deg, #AFA8F0, #FC9CE3, #FFD5C2, #F9EF9F, #C6E7FF);
  background-size: 400% 400%;
  animation: border-animation 3s linear infinite;
}

.icon-button:hover::before {
  animation: border-animation 1s ease-in-out infinite;
}

@keyframes border-animation {
  0% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.modal-image {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 16px; /* Rounded corners */
  border: 4px solid white; /* White border */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better aesthetics */
}

.avatar-container {
  background: linear-gradient(135deg, #AFA8F0, #FFD5C2);
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
